.appBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 2px solid black;
  font-weight: bold;
  font-family: Optima, sans-serif;
  background-color: white;
}

.link{
  color: black;
  font-size: medium;
  text-decoration: none;
}

.homepage_link{
  color: black;
  font-size: large;
  text-decoration: none;
}

.searchandname{
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.search{
  font-family: Optima, sans-serif;
  margin-right: 10px;
}

.logoandname{
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 50px;
  width: 50px;
}