.pic{
    height: 80px;
    width: 80px;
}

.card{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    cursor: pointer;
}

.nameandage{
    margin-left: 10px;
    margin-top: 25px;
    font-size: small;
}

.userscards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }