.pic{
    height: 50px;
    width: 50px;
}

.card{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.nameandage{
    margin-left: 10px;
    margin-top: 10px;
    font-size: small;
}