.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Optima, sans-serif;
  padding-top: 50px;
  overflow: hidden;
}

.container{
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.userscards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}