.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Optima, sans-serif;
  padding-top: 50px;
  overflow: hidden;
}

.container{
  display: flex;
  width: 500px;
  justify-content: space-between;
}
